body{
    background-color: #026873;
    background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
    linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
    linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
    linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
    background-size: 13px, 29px, 37px, 53px;
}
h1{
    color: blue;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3em; 
    letter-spacing: 10px;
    text-shadow: 4px 5px rgb(50, 50, 36);
    text-decoration: underline rgb(12, 195, 39);
}
.LOGO {
    float: left;
}

header{
     background-color: aquamarine;
     border: 2px solid #079918;
}
section{
    
    display: flex;
    grid-template-columns: 2fr 2fr;
    justify-content: space-between;
}

.link{
    float: left;
    margin: 5px;
    list-style: none;
    
}
.link2{
    float: right;
    margin: 5px;
    list-style: none;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: x-small;
    background-color: #0016b0 ;
    border-radius: 6px;
    border: 2px solid #4d045a;
}
.li-2 a{
    display: block;
    color:black;
    text-align: center;
    padding: 5px;
    font-size: x-small;
    background-color: rgb(90, 110, 190);
    border-radius: 6px;
    border: 2px solid #e25fbd;

}
h4{
    width: 989px;
    background: #1fa4c9 center;
    text-align: center;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
.form-register {
    background-color:rgb(90, 110, 190);
    width: 900px;  
    margin-top: 03px;
    margin-left: 10px;
    display: block;
    height: 450px;
    text-align:center;
    margin-bottom: 2em;  
}
  
.sectionform-register {
    background-color: rgb(90, 110, 190);
    
}
.select{
    text-align:left;
  
}

.boton{
    text-align:left;
    margin-left: 1.2em;
   
}

.titulos1{
    display: block;
    justify-content: flex-end;
    width: 10%;
    text-align: justify;
    line-height: normal; 
    margin: 20px;
   
   
}
.titulos2{
    display: inline-block;
   
    justify-content: center;
    width: 0%;
    text-align: justify;
    line-height: 0cm;
    margin: 20px;
   
}
.map{
   
    display: inline-block;   
}

.map > iframe{
   margin: 0.1rem;
   width: 220px;
    margin-top: 03px;
}
h6,p{
    font-size: 100%;
    color: rgb(13, 4, 4);
}
.sucursales{
    background-color:rgb(90, 110, 190);
    width: 300px;
    margin-top: 03px;
    display: inline;
    display: block;
   
}
h5{
    text-align:center;
    margin-left: 30px;
}
h3,p{
    margin: 5px 20px 5px 20px ;
    color:rgb(16, 15, 15);
}


article > h2{
    font-size: 200%;
    text-align: center;
    color:white;
    margin: 20px;
   
}
h2{
    font-size: 200%;
    text-align: center;
    font-family: 'Dancing Script';
    color:white; 
}

    
.imgArticle, .imgArticle2{  /*imagenes del index*/
    max-width: 440px;
    height: auto;
    image-orientation: center;
    border-style: ridge;
} 

article , article2{
    background-color: #1755dc;
    display: grid;
    border: solid white;
    margin: 20px;
   
}
.sucursales{
    background-color:rgb(90, 110, 190);
    width: 300px;
    margin-top: 03px;
    display: inline;
    display: block;
  
}

section{
    justify-content:right; 
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin-inline-start: 40px;
}
footer{
    background: aquamarine;
    border: 2px solid #079918;
}

.fa-facebook {
    color: rgb(59, 91, 152);
  }
.fa-twitter{
    color: aqua;
}
.fa-instagram{
    background: radial-gradient(#e03b1e, #f5e531);
}
.fa-linkedin{
    color:blue;
}    
.iconos{
    margin-top: 0px;
    margin-left: 470px;
   
} 
.fcc-btn {
    background-color: white;
    color:black;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 6px;
    border: 1px solid black;
  }
  th{
    background-color: #4f604f;
    color: white;
}
tfoot{
    background-color: antiquewhite;
    color: black;
    text-align: center;
    
}

table,td,tr{
     border: 1px solid black;
     border-collapse: collapse;
     padding: 10px 15px;
     
}
table{
    margin-left: 150px;
    margin-top: 1em;
}
aside{
    display: inline-block;
    width: 300px;
    background:rgb(90, 110, 190);
    text-align: center;
    margin: 1.5rem;
   margin-top: 1.3em;
   height: 500px;
}
h7{
    font-size: 1.72em;
    text-align: center;
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white; 
}
.form-campeon {
    background-color:rgb(145, 225, 198);
    width: 900px;  
    margin-top: 03px;
    margin-left: 40px; 
    display: block;
}
.espectaculos{
    background-color:rgb(90, 110, 190);
    width: 900px;  
    margin-top: 03px;
    margin-left: 10px;
    display: block;
    text-decoration: none;
    border-radius: 6px;
    border: 1px solid rgb(36, 5, 160);
}
.gracias{
    display: center;
    margin-left: 300px;   
}
.visita{
    display: center;
    margin-left: 300px;  
}
.imagen-espect{
    display: center;
    margin-left: 50px;  
}
h8{
    font-size: 1.3em;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:black; 

}



  
